---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			figure {
				margin: 2em 0;
			}
			figcaption {
				margin-top: 1em;
				text-align: center;
				font-style: italic;
				color: rgb(var(--gray));
				font-size: 0.95em;
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<h1>Hi, I'm Dom.</h1>
			<p>My website is currently under construction... come back soon!</p>
			<p>You can find out what I'm up to at Stanford here, follow me on LinkedIn here, and find my (outdated!) CV attached here.</p>
			<p>Contact me at zappiadominic [at] gmail [dot] com. I hope you're doing well!</p>
			<figure>
				<img src="https://cdn.builder.io/api/v1/image/assets%2Fc4790eb4f63740e0af4eccf5f786ee94%2F697bdce599564971839d3e01de4be032?format=webp&width=800" alt="DomatStanford" />
				<figcaption>From my current adventure: working at Stanford as a Tech Ethics &amp; Policy Scholar with Professor Rob Reich!</figcaption>
			</figure>
		</main>
		<Footer />
	</body>
</html>
